name: Add to Project

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  add-to-project:
    name: Add issue or PR to project board
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/users/gagan-malik/projects/2
          # This requires a PAT with 'project' scope
          # Create one at: https://github.com/settings/tokens
          # Add it as a secret named PROJECT_TOKEN
          github-token: ${{ secrets.PROJECT_TOKEN }}
